name: Flashscore Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run scraper
        run: |
          node scrape.js

      - name: Commit db.json
        run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add db.json
          git commit -m "update db" || echo "no changes"
          git push
